#fx-list-main-div {
  display:block;
  position:relative;
  border: solid 1px #CCC;
  height: calc(100% - 1em - 1px);
  margin: 0 1em 1em 0;
  overflow:auto;
}

.fx-list-item {
  cursor: default;
  padding: 5px;
}

.fx-list-item:hover {
  background-color: #CDDDFF;
}

.fx-list-selected-item {
  background-color: #BCCCEE;
}
